body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #f9f9f9;
  text-align: center;
}
input, button {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin: 10px 0;
}
img {
  margin-top: 20px;
}
select {
    width: 100px;
}